.email-management .is-placeholder {
	.gsuite-user-item__email,
	.gsuite-user-item__manage-link,
	button {
		@include placeholder();
	}
}

.email-management {
	.gsuite-user-item__email {
		font-weight: 600;
		line-height: 1.7;
	}

	.gsuite-user-item__actions {
		display: flex;
		float: right;
		font-size: $font-body-small;
	}

	a.gsuite-user-item,{
		//font-size: $font-body-small;
	}
}
